html {
	background-color: grey;
	height: 100%;
}

body {
    min-height: 100%;
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
	/* box-shadow: 100px; */
}

.menu {
	display: flex;
	align-items: flex-end;
    justify-content: flex-end;
	margin-bottom: 800px;
}

.squares {
	aspect-ratio: 1 / 1;
	display: flex;
	flex-wrap: wrap;
	width: 512px;
	height: 512px;
	box-sizing: border-box;
	/* transform: scale(var(--scale)); */
}

/* .squares > * {
	transform: scale(calc(1*var(--scale)));
} */

.squares div {
	width: 32px;
	height: 32px;
	background-color: white;
}
